* {
  list-style: none;
  text-decoration: none;
}
a,
Link {
  text-decoration: none;
}

/* NAVBAR */
.NavBar {
  height: 10vh;
}
.CartWidget {
  display: flex;
  width: 22vw;
  gap: 5%;
}
#dropDown:hover {
  background-color: rgba(245, 235, 224, 1);
}
/* HERO component */
.Hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.heroImgDiv {
  width: 50vw;
}
.heroImgDiv img {
  width: 100%;
}
.heroTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12%;
}

/* FORM component */
.form {
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control:focus {
  border: none;
  outline: 4px solid rgba(245, 235, 224, 1);
  transition: 0.3s;
}

/* FOOTER component */
.Footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
  background: rgb(240, 128, 128);
  background: rgb(237, 237, 233);
  background: linear-gradient(
    144deg,
    rgba(237, 237, 233, 1) 0%,
    rgba(214, 204, 194, 1) 34%,
    rgba(245, 235, 224, 1) 48%,
    rgba(227, 213, 202, 1) 66%
  );
}
.FooterIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.FooterIcons svg {
  color: rgb(203, 195, 186);
  width: 2.2rem;
  height: 2.2rem;
  transition: 0.4s;
}
.FooterIcons svg:hover {
  transform: scale(1.2) rotate(360deg);
  cursor: pointer;
  color: rgb(187, 119, 119);
  transition: 0.4s;
}

.FooterInfo ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

/* items area  */

.counterDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cards {
  margin: 0 auto;
  margin-bottom: 8%;
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  place-items: center;
  justify-content: center;
  gap: 4%;
}

.link {
  text-decoration: none;
  color: black;
}

.btnLink {
  border: 1px solid rgb(187, 119, 119);
  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
  padding: 12px;
  text-decoration: none;
  color: rgb(142, 71, 71);
  transition: 0.3s;
}

.btnLink:hover {
  background-color: rgb(168, 90, 90);
  color: whitesmoke;
  transition: 0.3s;
}
.card {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 30%;
}

#itemImg {
  width: 100%;
}

#itemCard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 80vw;
}
#itemCardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#itemText {
  list-style: circle;
  text-align: center;
  padding: 8%;
}
#precio {
  text-align: center;
  padding: 4%;
  font-size: 1.4rem;
  font-weight: 700;
}
#itemName {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
}
.btnCount {
  padding: 2%;
  background-color: antiquewhite;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
}
.count {
  font-size: 1.2rem;
  font-weight: 600;
}
#tela {
  text-align: center;
  padding: 14%;
  font-size: 1.2rem;
  font-style: italic;
}
.divBtn {
  display: flex;
  justify-content: center;
}
.cardCategory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  place-items: center;
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
}
.about {
  width: 90vw;
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6%;
}
.about h1 {
  font-size: 2.1rem;
}
.about p {
  font-size: 1.2rem;
}

/* ! CART */
.cartPage {
  width: 95%;
  margin: 2%;
}
.cartProd {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
  padding: 1.5%;
  border: 0.5px solid rgb(187, 119, 119);
}
.cartImg {
  width: 350px;
}

.emptyCart {
  margin: 6% auto;
  background-color: aquamarine;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid black;
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyBtn {
  display: flex;
  margin-top: 2%;
  margin-left: 86vw;
}

.btnCenter {
  display: flex;
  justify-content: center;
  margin: 2%;
}
.btnFinal {
  width: 18rem;
  height: 3.2rem;
  text-align: center;
}

/* ! CheckOut Page */
.checkContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 4%;
}
.formLeft form {
  width: 32vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
form input {
  margin: 2%;
  padding: 2%;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
}
.prodRight {
  width: 32vw;
}

.rsmProds {
  border: 1px solid rgb(187, 119, 119);
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 4%;
  margin: 2%;
  padding: 2%;
}
.btnBuy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buyBtn {
  width: 18vw;
  margin-bottom: 4%;
}
